{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var  checklist_url = "{{=URL('api', 'get_checklists', hash_vars=False)}}";
    var  add_checklist_url = "{{=URL('api', 'add_checklist', user_signature=True)}}";
    var  edit_checklist_url = "{{=URL('api', 'edit_checklist', user_signature=True)}}";
    var  del_checklist_url = "{{=URL('api', 'del_checklist', user_signature=True)}}";
    var  toggle_visibilty_url = "{{=URL('api', 'toggle_visibility', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">
    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
        <div class="add_btn" >
            <button v-if="!is_adding_checklist && logged_in" class="btn rounded"
                v-on:click="add_checklist_button()":disabled="!logged_in"
                v-bind:class="{'disabled': !logged_in}">
                <i class="fa fa-plus"></i> Add track
            </button>
            <button v-if="is_adding_checklist && logged_in" class="btn red rounded" v-on:click="add_checklist_button()">
                <i class="fa fa-times"></i> Cancel
            </button>
            <div class="offline_welcome" v-if="!logged_in" >Log in to create, view, and modify your own checklists! </div>
        </div>
        
        
        
        <div v-if="is_adding_checklist" id="add_checklist_div">
            <form action="#" v-on:submit.prevent="add_checklist" class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group" id="no_table_title_row">
                    <div>
                        <input class="form-control string" id="no_table_title" name="Title" type="text" v-model="form_title" placeholder="Title"/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" id="no_table_memo__row">
                    <div>
                        <input class="form-control string" id="no_table_memo" name="Memo" type="text" v-model="form_memo" placeholder="Write memo here."/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" id="submit_checklist__row">
                    <div>
                        <input class="btn btn-primary" id="add_checklist_submit" type="submit" value="Submit" />
                        <i v-if="add_pending" class="fa fa-spinner fa-pulse"></i>
                    </div>
                </div>
            </form>
        </div>
        
        
        
        
        
        <div v-for="cl in checklists" class="memo">
            <div class="memo_text">
                <div class="memo_title">
                    ${cl.title}
                </div>
                <div class="memo_content">
                    <p>${cl.memo}</p>
                </div>
                <!-- Division for editing -->
                <div v-if="selected_checklist_idx == cl._idx" class="memo_content">
                    <form action="#" v-on:submit.prevent="edit_checklist" 
                    class="form-horizontal" enctype="multipart/form-data" method="post">
                        <div class="form-group" id="no_table_title_row">
                            <div>
                                <textarea class="form-control string" id="no_table_title"
                               name="Title" type="text" v-model="form_title" placeholder="New Title">
                               </textarea>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group" id="no_table_memo__row">
                            <div>
                                <textarea class="form-control string" id="no_table_memo" name="Memo"
                                type="text" v-model="form_memo" placeholder="New Memo">
                                </textarea>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group" id="save_checklist__row">
                            <div>
                                <input class="btn btn-primary" id="edit_checklist_submit" type="submit"
                                value="Save" />
                                <i v-if="edit_pending" class="fa fa-spinner fa-pulse"></i>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
            <!-- Button List -->
            <div>
                <div class="button_list">
                    
                    <div class="buttons">
                        <!-- Visibility -->
                        <button v-if="(!cl.is_public) && (auth_email == cl.user_email)" class="btn rounded"
                                v-on:click="toggle_is_public(cl._idx)":disabled="!logged_in"
                                v-bind:class="{'disabled': !logged_in}">
                            <i class="fa fa-user"></i>
                        </button>
                        <button v-if="(cl.is_public) && (auth_email == cl.user_email)" class="btn rounded"
                                v-on:click="toggle_is_public(cl._idx)":disabled="!logged_in"
                                v-bind:class="{'disabled': !logged_in}">
                            <i class="fa fa-users"></i>
                        </button>
                        <!-- Not Logged In -->
                        <button v-if="auth_email != cl.user_email" class="btn grey rounded">
                            <i class="fa fa-users"></i>
                        </button>

                        <!-- Editing -->
                        <button v-if="(auth_email == cl.user_email) && (selected_checklist_idx != cl._idx)" class="btn green rounded"
                                v-on:click="edit_checklist_button(cl._idx)":disabled="!logged_in"
                                v-bind:class="{'disabled': !logged_in}">
                            <i class="fa fa-edit fa-lg"></i>
                        </button>
                        <button v-if="(selected_checklist_idx == cl._idx) && (auth_email == cl.user_email)" class="btn red rounded" v-on:click="edit_checklist_button(cl._idx)">
                            <i class="fa fa-times"></i> Cancel
                        </button>
                        <!-- Not Logged In -->
                        <button v-if="auth_email != cl.user_email" class="btn grey rounded">
                            <i class="fa fa-edit fa-lg"></i>
                        </button>
                        <!-- Deletion -->
                        <button v-if="(auth_email == cl.user_email)" class="btn purple rounded"
                                v-on:click="delete_checklist(cl._idx)":disabled="!logged_in"
                                v-bind:class="{'disabled': !logged_in}">
                            <i class="fa fa-trash fa-lg"></i>
                        </button>
                        <button v-if="(auth_email != cl.user_email)" class="btn grey rounded">
                            <i class="fa fa-trash fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="has_more" class="show_more">
        <button class="btn btn-default rounded" v-on:click="get_more()">
            Load more
            <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
