/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.main_content {
  padding: 10px;
}

/* line 9, ../sass/_main.scss */
div.add_btn {
  margin: 5px;
}
/* line 11, ../sass/_main.scss */
div.add_btn a {
  padding: 10px;
}

/* line 16, ../sass/_main.scss */
div.offline_welcome {
  font-weight: bold;
  font-size: 150%;
}

/* line 21, ../sass/_main.scss */
div.memo {
  margin: 5px;
  border: 2px solid gray;
  padding: 5px;
}
/* line 26, ../sass/_main.scss */
div.memo div.memo_title {
  font-weight: bold;
  font-size: 150%;
}
/* line 30, ../sass/_main.scss */
div.memo div.button_list {
  text-align: right;
  margin-top: 10px;
}
/* line 32, ../sass/_main.scss */
div.memo div.button_list div.buttons {
  display: inline-block;
}
/* line 37, ../sass/_main.scss */
div.memo div.button_list .blue {
  background-color: blue;
}
/* line 40, ../sass/_main.scss */
div.memo div.button_list .green {
  background-color: green;
}
/* line 43, ../sass/_main.scss */
div.memo div.button_list .red {
  background-color: red;
}
/* line 47, ../sass/_main.scss */
div.memo div.button_list .purple {
  background-color: purple;
}
/* line 51, ../sass/_main.scss */
div.memo div.button_list .grey {
  background-color: gray;
}
/* line 55, ../sass/_main.scss */
div.memo div.button_list .btn {
  padding: 10px;
}
